body{
    background-color:#fff ;
    margin:0;
}
img{
    max-width:100%;
}

nav {
     position: fixed; /* Set the navbar to fixed position */
      bottom: 0; /* Position the navbar at the bottom of the page */
      width: 100%; /* Full width */
      margin:  0 auto;
      background-color:#E8832B;
      font-size:2em;
      text-align: center;
      border-color:#898E88;
}
nav ul {
margin:0 ;
list-style-type:none;
overflow: hidden;
max-width:100%;

}
nav li {
    display:inline-block;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin:0;
    }

li a {
  display: block;
  max-width:100%;
  font-size:.5em;
  text-decoration: none;
  padding:0 10px 0 10px;
  margin:0;
  color:white;
}


.front{
    text-align: center;
}
.front__intro{
    display:inline-block;
    max-width:100%; /* makes caption size of image */
    margin-bottom:50px;
    text-overflow: inherit;
}


@media screen and (max-width:320px)
{


    .front{
      text-align:center;
    }
    .front__intro{
        display:inline-block;
        max-width:100%;
        color:#000;
        text-overflow: inherit;
        font-size:16px;
        }



}
